<template>
  <div class="content">
    <List title="Liste des astres" listType="all"/>
  </div>
</template>

<script>
import List from './List'

export default {
  components: {
    List
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  display: flex;
}
</style>
