<template>
  <div class="bodyContent">
    <v-card
            class="mx-auto ma-10"
            max-width="700"
            raised
    >
      <v-list-item three-line>
        <v-list-item-content>
          <v-list-item-title class="headline mb-1">{{body.name}}</v-list-item-title>
          <v-list-item-subtitle v-if="body.isPlanet">Planète</v-list-item-subtitle>
          <v-list-item-subtitle v-else-if="body.aroundPlanet">Lune</v-list-item-subtitle>
          <v-list-item-subtitle v-else>Autre Astre</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <v-card-text>
        <div v-if="body.englishName"><u>Nom Anglais :</u> {{body.englishName}}</div>
        <div class="text--primary" v-if="body.aphelion">
          <a :class="`wiki-link ${this.$vuetify.theme.dark}`" href="https://fr.wikipedia.org/wiki/Aph%C3%A9lie" target="_blank">Aphélie :</a>
          {{body.aphelion}} km
        </div>
        <div class="text--primary" v-if="body.perihelion">
          <a :class="`wiki-link ${this.$vuetify.theme.dark}`" href="https://fr.wikipedia.org/wiki/P%C3%A9rih%C3%A9lie" target="_blank">Périhélie :</a>
          {{body.perihelion}} km
        </div>
        <div class="text--primary" v-if="body.semimajorAxis">
          <a :class="`wiki-link ${this.$vuetify.theme.dark}`" href="https://fr.wikipedia.org/wiki/Grand_axe" target="_blank">Demi-grand axe :</a>
          {{body.semimajorAxis}} km
        </div>
        <div class="text--primary" v-if="body.eccentricity">
          <a :class="`wiki-link ${this.$vuetify.theme.dark}`" href="https://fr.wikipedia.org/wiki/Excentricit%C3%A9_orbitale" target="_blank">Excentricité :</a>
          {{body.eccentricity}}
        </div>
        <div class="text--primary" v-if="body.inclination">
          <a :class="`wiki-link ${this.$vuetify.theme.dark}`" href="https://fr.wikipedia.org/wiki/Inclinaison_orbitale" target="_blank">
          Inclinaison sur l’écliptique :</a>
          {{body.inclination}}°
        </div>
        <div class="text--primary" v-if="body.mass">
          <u>Masse :</u>
          {{body.mass.massValue}} x10<sup>{{body.mass.massExponent}}</sup> kg
        </div>
        <div class="text--primary" v-if="body.vol">
          <u>Volume :</u> {{body.vol.volValue}} x10<sup>{{body.vol.volExponent}}</sup> km<sup>3</sup>
        </div>
        <div class="text--primary" v-if="body.density">
          <u>Densité :</u> {{body.density}} g/cm<sup>3</sup>
        </div>
        <div class="text--primary" v-if="body.gravity">
          <a :class="`wiki-link ${this.$vuetify.theme.dark}`" href="https://fr.wikipedia.org/wiki/Gravit%C3%A9_de_surface" target="_blank">Gravité :</a>
          {{body.gravity}} m/s<sup>2</sup>
        </div>
        <div class="text--primary" v-if="body.escape">
          <a :class="`wiki-link ${this.$vuetify.theme.dark}`" href="https://fr.wikipedia.org/wiki/Vitesse_de_lib%C3%A9ration" target="_blank">Vitesse de libération :</a>
          {{body.escape}} m/s
        </div>
        <div class="text--primary" v-if="body.meanRadius">
          <u>Rayon moyen :</u>
          {{body.meanRadius}} km
        </div>
        <div class="text--primary" v-if="body.equaRadius">
          <u>Rayon équatorial :</u>
          {{body.equaRadius}} km
        </div>
        <div class="text--primary" v-if="body.polarRadius">
          <u>Rayon polaire :</u>
          {{body.polarRadius}} km
        </div>
        <div class="text--primary" v-if="body.flattening">
          <a :class="`wiki-link ${this.$vuetify.theme.dark}`" href="https://fr.wikipedia.org/wiki/Aplatissement" target="_blank">Aplatissement :</a>
          {{body.flattening}}
        </div>
        <div class="text--primary" v-if="body.sideralOrbit && body.aroundPlanet">
          <a :class="`wiki-link ${this.$vuetify.theme.dark}`" href="https://fr.wikipedia.org/wiki/P%C3%A9riode_de_rotation" target="_blank">Période de rotation (autour de la planète):</a>
          {{body.sideralOrbit}} jours
        </div>
        <div class="text--primary" v-if="body.sideralOrbit && body.isPlanet">
          <a :class="`wiki-link ${this.$vuetify.theme.dark}`" href="https://fr.wikipedia.org/wiki/P%C3%A9riode_de_rotation" target="_blank">Période de rotation (autour du soleil):</a>
          {{body.sideralOrbit}} jours
        </div>
        <div class="text--primary" v-if="body.sideralRotation">
          <a :class="`wiki-link ${this.$vuetify.theme.dark}`" href="https://fr.wikipedia.org/wiki/P%C3%A9riode_de_rotation" target="_blank">Période de rotation (sur elle-même):</a>
          {{body.sideralRotation}} h
        </div>
        <v-divider class="mx-4 ma-2"></v-divider>
        <div class="text--primary" v-if="body.aroundPlanet && body.aroundPlanet.planet">
          {{ body.name }} orbite autour de <v-chip @click="navToPage(aroundPlanet.id)" class="mx-2 ma-2">{{ aroundPlanet.name }}</v-chip>
        </div>
        <div class="text--primary" v-if="body.isPlanet && moons">{{ body.name }} possède {{moons.length}} lune<span v-if="moons.length > 1">s</span></div>
        <v-chip :key="`${moon}-${key}`" @click="navToPage(moon.id)" class="mx-2 ma-2" v-for="(moon,key) in moons">{{moon.moon}}</v-chip>
      </v-card-text>

      <v-card-actions>
        <v-btn @click="addTofavorite" text>Ajouter aux favoris</v-btn>
        <v-btn @click="removeFavorite" text v-if="isFavorite">Retirer des favoris</v-btn>
      </v-card-actions>
    </v-card>

  </div>
</template>

<script>
  import router from '../router';
export default {
  computed: {
    body: function () {
      return this.$store.getters['fetchBodies/getBodies'].find(el => el.id === this.$route.params.id)
    },
    isFavorite: function () {
      return this.$store.getters['favorites/getFavorites'].find(el => el.id === this.$route.params.id) ? true : false
    },
    moons: function () {
      let moons = this.body.moons
      if (moons) {
        moons.forEach((moon, i) => {
          moons[i].id = this.$store.getters['fetchBodies/getBodies'].find(el => el.name === moon.moon).id
        })
        return moons
      }
      return false
    },
    aroundPlanet: function () {
      if (!this.body.aroundPlanet) {
        return false
      }
      return this.$store.getters['fetchBodies/getBodies'].find(el => el.id === this.body.aroundPlanet.planet)
    }
  },
  methods: {
    addTofavorite() {
      if (this.$store.getters['favorites/getFavorites'].includes(this.body)) {
        this.$notify({
          group: 'notifications',
          type: 'warn',
          title: 'Attention',
          text: `<b>${this.body.name}</b> est déjà présent dans vos favoris`,
          duration: 500,
          speed: 500,
          data: {},
          closeOnClick: true,
          ignoreDuplicates: true
        })
      }
      else {
        this.$store.dispatch({
          type: 'favorites/addFavoriteAction',
          body: this.body
        })
        this.$notify({
          group: 'notifications',
          type: 'success',
          title: 'Réussi',
          text: `<b>${this.body.name}</b> a été ajouté aux favoris`,
          duration: 500,
          speed: 500,
          data: {},
          closeOnClick: true,
          ignoreDuplicates: true
        })
      }
    },
    removeFavorite() {
      this.$store.dispatch({
        type: 'favorites/removeFavoriteAction',
        index: this.$store.getters['favorites/getFavorites'].findIndex(el => el.id === this.$route.params.id)
      })
      this.$notify({
        group: 'notifications',
        type: 'error',
        title: 'Suppression',
        text: `<b>${this.body.name}</b> a été retiré des favoris`,
        duration: 500,
        speed: 500,
        data: {},
        closeOnClick: true,
        ignoreDuplicates: true
      })
    },
    navToPage(id){
      router.push({name: 'CelestialBody', params: {id: id}});
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h3 {
    margin: 40px 0 0;
  }
  ul {
    list-style-type: none;
    padding: 0.5rem;
    border: solid;
    width: 90%;
    margin: auto;
  }
  a {
    color: #42b983;
  }
  .wiki-link.true{
    color: white;
  }
  .wiki-link.false{
    color: black;
  }
</style>
