<template>
  <div class="content">
    <List v-if="$store.getters['favorites/getFavorites'].length > 0" title="Liste des favoris" listType="favorites"/>
    <v-card
            class="mx-auto"
            max-width="1000"
            v-else
    >
      <v-card-text>
        <h5>Vous n'avez aucun astre dans vos favoris</h5>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import List from './List'

export default {
  components: {
    List
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.no-favorite {
  width: 25%;
  display: flex;
  margin: auto;
  border: solid;
}
</style>
