<template>
    <v-footer
            class="font-weight-medium"
            padless
    >
        <v-col
                class="text-center"
                cols="12"
        >
            {{ new Date().getFullYear() }} — <strong>Maxime OBLE</strong> - <strong>Clément BOURGEAIS</strong> - <strong>Geoffrey DUGAST</strong>
        </v-col>
    </v-footer>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style scoped>

</style>
