<template>
    <div class="galaxy">
        <solar-system/>
    </div>
</template>

<script>
    import SolarSystem from "./SolarSystem";
    export default {
        name: "Galaxy",
        components: {SolarSystem}
    }
</script>

<style scoped>

</style>
