<template>
  <div class="header">
    <v-app-bar
            app
            dense
    >
      <v-img
              class="mx-2"
              contain
              max-height="40"
              max-width="40"
              src="../assets/logo.png"
      ></v-img>
      <v-toolbar-title>Le Système Solaire</v-toolbar-title>

      <v-btn @click="navToPage('CelestialBodies')" class="mx-2" small>Accueil</v-btn>
      <v-btn @click="navToPage('Favorites')" class="mx-2" small>Favoris</v-btn>
      <v-btn @click="navToPage('Universe')" class="mx-2" small>Système Solaire</v-btn>

      <v-spacer></v-spacer>
      <v-switch @change="darkMode" label="Mode Sombre" style="margin-top:16px" v-model="this.$vuetify.theme.dark"></v-switch>
    </v-app-bar>
  </div>
</template>

<script>
  import router from '../router'
  export default {
    name: "Header",
    methods:{
      navToPage(pageName){
        router.push({name: pageName});
      },
      darkMode() {
        this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
      }
    },
    data() {
      return {
      }
    },
    created() {
    }
  }
</script>
<style scoped>
  .header{
    height: 46px;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 10;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
  }
</style>
