<template>
  <div class="list-bodies">
      <v-card
              class="mx-auto"
              max-width="1000"
      >
          <v-card-text>
              <div class="content">
                  <h2>{{title}}</h2>
                  <div class="recherche-div d-flex pa-1">

                      <v-row align="center" justify="center">
                          <v-col>Recherche</v-col>
                      </v-row>
                      <v-text-field @keyup="searchFunc" class="theme--light v-input" type="text" v-model="search"/>
                  </div>
                  <v-btn-toggle
                          mandatory
                          v-model="toggle_exclusive"

                  >
                      <v-btn @click="filterFunc(null)"  small>
                          tous les astres
                      </v-btn>
                      <v-btn @click="filterFunc(filters.planets.slug)" small>
                          {{ filters.planets.name }}
                      </v-btn>
                      <v-btn @click="filterFunc(filters.moons.slug)" small>
                          {{ filters.moons.name }}
                      </v-btn>
                  </v-btn-toggle>

                  <div class="select-bodies" v-if="searchList.length === 0 && search">
                      <div class="body">Aucun résultat</div>
                  </div>
                  <div class="select-bodies" v-else>
                      <table class="contentTable" v-if="filteredList.length > 0">
                          <thead>
                          <tr class="align-item">
                              <th>NOM</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr :key="index" v-bind:value="body" v-for="(body, index) of searchList.length > 0 || search ? searchList : filteredList">
                              <td @click="onSelect(body)" style="width: 90%"><div class="body">{{ body.name }}</div></td>
                              <td style="width: 10%" v-if="'favorites' == listType">
                                  <v-btn @click="removeFavorite(index)" class="error" icon raised style="color: white;"><b>X</b></v-btn>
                              </td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </v-card-text>
      </v-card>

  </div>
</template>

<script>
import router from '../router'

export default {
  props : {
    listType: String,
    title: String
  },
  computed: {
    filteredList: function () {
      let originalList = this.$store.getters['fetchBodies/getBodies'];
      if ("favorites" == this.listType) {
        originalList = this.$store.getters['favorites/getFavorites'];
      }
      let newList = []
      newList.push(...originalList)
      if (this.$store.getters['filter/getFilter'] === this.filters.planets.slug) {
        newList = newList.filter(el => el.isPlanet)
      }
      else if (this.$store.getters['filter/getFilter'] === this.filters.moons.slug) {
        newList = newList.filter(el => el.aroundPlanet)
      }
      return newList
    }
  },
  data () {
    return {
      filters: {
        planets: {
          name: "planètes",
          slug: "planets"
        },
        moons: {
          name: "lunes",
          slug: "moons"
        },
      },
      search: "",
      searchList: []
    }
  },
  mounted () {
    this.filterFunc(null)
  },
  methods: {
    onSelect(body) {
      router.push({name: 'CelestialBody', params: {id: body.id}})
    },
    filterFunc(filter) {
      this.$store.dispatch({
        type: 'filter/setFilterAction',
        filter: filter
      })
      if (this.search) {
        const search = {
          target: {
            value: this.search
          }
        }
        this.searchFunc(search)
      }
    },
    removeFavorite(index) {
      this.$store.dispatch({
        type: 'favorites/removeFavoriteAction',
        index: index
      })
    },
    searchFunc(event) {
      if (event.target && event.target.value.length > 0) {
        // Regex that check if search match with bodies names
        const searchRegex = "\\b(\\w*" + event.target.value.toLowerCase() + "\\w*)\\b"
        this.searchList = this.filteredList.filter(body => body.name.toLowerCase().match(searchRegex))
      }
      else {
        this.searchList = []
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.recherche-div{
  border-bottom: solid 1px black;
  margin-bottom: 1rem;
}

.contentTable{
  width: 100%;
}
.search-label{
  padding: 5px;
  font-weight: bold;
}
.content {
  display: flex;
  flex-direction: column
}
.list-bodies {
  /*border: solid;*/
  width: 50%;
  margin: auto;
  padding: 1rem;
}
.buttons, .filter {
  margin-bottom: 1rem;
}
.body {
  margin: 0 10px;
  border: solid;
  border-width: 0 0 0.1rem 0;
  display: block;
  cursor: pointer;
}
.error {
  color: red;
  font-size: 0.8rem;
}

</style>
