<template>
    <div :id="planet.id" class="planet orbit ma-10 mx-0">
        <h4 class="planet-name" @click="toPagePlanet(planet.id)">{{ planet.name }}</h4>
        <div class="round-planet">
            <div :style="cssVars" @mouseout="hideInfo(planet.id)" @mouseover="showInfo(planet.id)" class="ball">
                <div v-for="n in numberOfRing-1" :key="n" class="ring"  :style="{'transform':`rotateY(${n*(180/numberOfRing)}deg)`,'color': color, 'animation-delay':'0.8s'}"></div>
                <div :key="n+numberOfRing" :style="{'transform':`rotateX(${n*(180/numberOfRing)}deg)`,'color': color, 'animation-delay':'0.8s'}" class="ring"  v-for="n in numberOfRing-1"></div>
                <div :key="n+(numberOfRing*2)" :style="{'transform':`rotateZ(${n*(180/numberOfRing)}deg) rotateY(90deg)`,'color': color, 'animation-delay':'0.8s'}" class="ring"  v-for="n in numberOfRing-1"></div>
                <div :style="{'transform':`rotateX(100deg)`, 'color': color }" class="around-ring"  v-if="planet.id == 'saturne' || planet.id == 'neptune'"></div>
                <div :style="{'transform':`rotateX(100deg)`, 'color': color }" class="around-ring-second"  v-if="planet.id == 'saturne'"></div>
            </div>
        </div>
        <v-card
                :id="`info-${planet.id}`"
                class="mx-auto ma-10 panel"
                max-width="400"
                raised
        >
            <v-list-item three-line>
                <v-list-item-content>
                    <v-list-item-title class="headline mb-1">{{planet.name.toUpperCase()}}</v-list-item-title>
                    <v-list-item-subtitle>Planète</v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>
            <v-card-text>
                <div class="text--primary" v-if="planet.meanRadius"><u>Rayon Moyen :</u> {{planet.meanRadius}} km</div>
                <div class="text--primary" v-if="planet.moons"><u>Nombre de lune :</u> {{ planet.moons.length }}</div>
                <div class="text--primary" v-if="planet.semimajorAxis"><u>Distance moyenne du Soleil :</u> {{ planet.semimajorAxis }} km</div>
                <div class="text--primary" v-if="planet.eccentricity"><u>Excentricité orbitale :</u> {{ planet.eccentricity }}</div>
                <div class="text--primary" v-if="planet.mass"><u>Masse :</u> {{ planet.mass.massValue }} x10<sup>{{ planet.mass.massExponent }}</sup> kg</div>
                <div class="text--primary" v-if="planet.vol"><u>Volume :</u> {{ planet.vol.volValue }} x10<sup>{{ planet.vol.volExponent }}</sup> km<sup>3</sup></div>
                <div class="text--primary" v-if="planet.gravity"><u>Gravité :</u> {{ planet.gravity }} m/s<sup>2</sup></div>
                <div class="text--primary"><u>Échelle :</u> 1/13.5 x10<sup>8</sup></div>
            </v-card-text>
            <v-card-actions>
                <v-btn  @click="toPagePlanet(planet.id)" text>En savoir plus</v-btn>
            </v-card-actions>
        </v-card>
    </div>
</template>

<script>
    import router from '../router'
    export default {
        name: "PlanetComponent",
        data() {
            return {
                color: ''
            }
        },
        props: {
            planet: Object,
            numberOfRing: Number,
            radius: Number,
        },
        created() {
            this.color = this.createColorFromSemiMajorAxis(this.planet.semimajorAxis);
        },
        computed: {
            cssVars() {
                return {
                    '--radius' : this.radius + 'px'
                }
            }
        },
        methods:{
            toPagePlanet(idPlanet){
                router.push({name: 'CelestialBody', params: {id: idPlanet}});
            },
            createColorFromSemiMajorAxis(val){
                let valToString = val.toString();
                let red = parseInt(valToString.substr(0,2))*2;
                let green = parseInt(valToString.substr(2,2))*1;
                let blue = parseInt(valToString.substr(4,2))*2;
                let color = `rgba(${red},${green},${blue},0.24)`;
                return color;
            },
            showInfo(id){
                let info = document.querySelector(`#info-${id}`);
                info.className += " show";
            },
            hideInfo(id){
                let info = document.querySelector(`#info-${id}`);
                setTimeout(() => info.className = info.className.replace(" show",""), 1000);
            }
        }
    }

</script>

<style scoped>
    .planet{
        position: relative;
        padding: 40px;
    }
    .round-planet{
        height: 100%;
        min-width: 100px;
    }
    .ball{
        margin:0 auto;
        transform-style:preserve-3d;
        animation:roundandround 240s 0s infinite linear;
        width:var(--radius);
        height:var(--radius);
        top: calc(50% - var(--radius)/2);
        position: relative;
        cursor: help;
    }
    .ball .ring{
        position:absolute;
        top:0;
        left:0;
        border:5px;
        border-style: solid;
        border-radius:50%;
        opacity:1;
        width:var(--radius);
        height:var(--radius);
        color:#48b13b3d;
    }
    .around-ring{
        position:absolute;
        border:20px;
        border-style:solid;
        border-radius:50%;
        opacity:1;
        width:calc(var(--radius) + 50px);
        height:calc(var(--radius) + 50px);
        color: rgba(235, 204, 50, 1);
        top: -25px;
        left: -25px;
    }
    .around-ring-second{
        position:absolute;
        border:20px;
        border-style:solid;
        border-radius:50%;
        opacity:1;
        width:calc(var(--radius) + 70px);
        height:calc(var(--radius) + 70px);
        color: rgba(235, 204, 50, 1);
        top: -35px;
        left: -35px;
    }

    .ring:nth-child(n+1){
        transform:rotateY(0deg);
        animation-delay:0.8s;
    }
    @keyframes roundandround {to {transform: rotate3d(0,0.75,0,360deg);}}
    .planet-name{
        color: white;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100px;
        text-align: center;
        transform: translateX(-50%);
        cursor: pointer;
    }
    .panel{
        top: 55px;
        left: calc(50% - 175px);
        position: fixed;
        z-index: 10;
        display:none;
        cursor: default;
    }
    .panel.show, .panel:hover{
        display: block;
    }
    .planet .panel .light-txt{
        opacity: 0.75;
    }
    .planet .panel .more{
        text-align: right;
    }
    .planet .panel .more:hover{
        color: white;
        cursor: pointer;
    }
    .planet .panel .more:after{
        content: '>';
    }

</style>
