<template>
    <div class="solar-system">
        <sun :radius="scaleSun()"/>
        <planet :key="key"  :number-of-ring="numberOfRing(planet.meanRadius)" :planet="planet" :radius="scalePlanet(planet.meanRadius)" v-for="(planet,key) of getListOfRealPlanet" />
    </div>
</template>

<script>
    import PlanetComponent from "./PlanetComponent";
    import SunComponent from "./SunComponent";
    export default {
        name: "SolarSystem",
        data() {
            return {

            }
        },
        created() {
        },
        mounted() {
            this.$store.dispatch('fetchBodies/fetchBodiesAction');
        },
        computed: {
            getListOfRealPlanet(){
                return this.$store.getters['fetchBodies/getBodies']
                    .filter(item => item.isPlanet && !/^(\()|([Pp]luton)/gm.test(item.name))
                    .sort((planetA,planetB) => (planetA.semimajorAxis > planetB.semimajorAxis) ? 1 : ((planetB.semimajorAxis > planetA.semimajorAxis) ? -1 : 0));
            }
        },
        methods: {
            numberOfRing(meanRadius) {
                let result = 6;
                if(this.scalePlanet(meanRadius) > 50){
                    result = 10;
                }
                return result;
            },
            scalePlanet(meanRadius) {
                // 1cmm = 37.795275591 px donc 1m = 3779.5275591
                let convertRadiusToMeter = meanRadius * 1000;
                let convertRadiusToPixel = convertRadiusToMeter * 3779.5275591;
                let scaling = convertRadiusToPixel / 1350000000;
                return scaling;
            },
            scaleSun() {
                // 1cmm = 37.795275591 px donc 1m = 3779.5275591
                // Rayon du soleil = 696340 km
                let meanRadius = 696340;
                let convertRadiusToMeter = meanRadius * 1000;
                let convertRadiusToPixel = convertRadiusToMeter * 3779.5275591;
                let scaling = convertRadiusToPixel / 13500000000;
                return scaling;
            }

        },
        components:{
            'planet' : PlanetComponent,
            'sun'  : SunComponent
        }
    }
</script>

<style scoped>
    .solar-system{
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
