<template>
    <div class="sun ma-10 mx-0">
        <h4 class="planet-name">{{sun.name}}</h4>
        <div class="round-planet">
            <div :style="cssVars" @mouseout="hideInfo(sun.id)" @mouseover="showInfo(sun.id)" class="ball">
                <div v-for="n in numberOfRing-1" :key="n" class="ring"  :style="{'transform':`rotateY(${n*(180/numberOfRing)}deg)`,'animation-delay':'0.8s'}"></div>
                <div :key="n+numberOfRing" :style="{'transform':`rotateX(${n*(180/numberOfRing)}deg)`,'animation-delay':'0.8s'}" class="ring"  v-for="n in numberOfRing-1"></div>
                <div :key="n+(numberOfRing*2)" :style="{'transform':`rotateZ(${n*(180/numberOfRing)}deg) rotateY(90deg)`,'animation-delay':'0.8s'}" class="ring"  v-for="n in numberOfRing-1"></div>

            </div>
        </div>
        <v-card
            :id="`info-${sun.id}`"
            class="mx-auto ma-10 panel"
            max-width="400"
            raised
        >
            <v-list-item three-line>
                <v-list-item-content>
                    <v-list-item-title class="headline mb-1">{{sun.name.toUpperCase()}}</v-list-item-title>
                    <v-list-item-subtitle>Étoile</v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>
            <v-card-text>
                <div class="text--primary" v-if="sun.meanRadius"><u>Rayon Moyen :</u> {{sun.meanRadius}} km</div>
                <div class="text--primary" v-if="sun.mass"><u>Masse :</u> {{ sun.mass.massValue }} x10<sup>{{ sun.mass.massExponent }}</sup> kg</div>
                <div class="text--primary" v-if="sun.vol"><u>Volume :</u> {{ sun.vol.volValue }} x10<sup>{{ sun.vol.volExponent }}</sup> km<sup>3</sup></div>
                <div class="text--primary" v-if="sun.gravity"><u>Gravité :</u> {{ sun.gravity }} m/s<sup>2</sup></div>
                <div class="text--primary" v-if="sun.temperature.center"><u>Températrure du centre:</u> {{ sun.temperature.center.tempValue }} x10<sup>{{sun.temperature.center.tempExponent}}</sup> K</div>
                <div class="text--primary" v-if="sun.temperature.photosphere"><u>Température de surface:</u> {{ sun.temperature.photosphere.tempValue }} K</div>
                <div class="text--primary" v-if="sun.temperature.corona"><u>Température de la couronne:</u> {{ sun.temperature.corona.tempValue }} x10<sup>{{sun.temperature.corona.tempExponent}}</sup> K</div>
                <div class="text--primary"><u>Échelle :</u> 1/13.5 x10<sup>9</sup></div>
            </v-card-text>
        </v-card>
    </div>
</template>

<script>
    export default {
        name: "SunComponent",
        data() {
            return {
                sun: {
                    meanRadius: 696340,
                    name: 'Soleil' ,
                    id: 'soleil',
                    mass: {
                        massValue: 1.9884,
                        massExponent: 30
                    },
                    vol: {
                        volValue: 1.41,
                        volExponent: 18
                    },
                    gravity: 274,
                    temperature: {
                        center: {
                            tempValue: 1.57,
                            tempExponent: 7
                        },
                        photosphere: {
                            tempValue: 5772
                        },
                        corona: {
                            tempValue: 5,
                            tempExponent: 6
                        }
                    }
                },
                numberOfRing: 15
            }
        },
        props: {
            radius: Number
        },
        methods: {
            showInfo(id){
                let info = document.querySelector(`#info-${id}`);
                info.className += " show";
            },
            hideInfo(id){
                let info = document.querySelector(`#info-${id}`);
                setTimeout(() => info.className = info.className.replace(" show",""), 1000);
            }
        },
        computed: {
            cssVars() {
                return {
                    '--radius' : this.radius + 'px'
                }
            }
        }
    }
</script>

<style scoped>
    .sun{
        position: relative;
        padding: 40px;
    }
    .round-planet{
        height: 100%;
        min-width:100px;
    }
    .ball{
        /*position:absolute;*/
        margin:0 auto;
        transform-style:preserve-3d;
        animation:roundandround 240s 0s infinite linear;
        width:var(--radius);
        height:var(--radius);
        top: calc(50% - var(--radius)/2);
        position: relative;
        cursor: help;
    }
    .ball .ring{
        position:absolute;
        top:0;
        left:0;
        border:5px;
        border-style:solid;
        border-radius:50%;
        opacity:1;
        width:var(--radius);
        height:var(--radius);
        color: rgba(235, 204, 50, 0.24);
    }

    .ring:nth-child(n+1){
        transform:rotateY(0deg);
        animation-delay:0.8s;
    }
    @keyframes roundandround {to {transform: rotate3d(0,0.75,0,360deg);}}
    .planet-name{
        color: white;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100px;
        text-align: center;
        transform: translateX(-50%);
        cursor: pointer;
    }
    .panel{
        top: 55px;
        left: calc(50% - 175px);
        position: fixed;
        z-index: 10;
        display:none;
        cursor: default;
    }
    .panel.show, .panel:hover{
        display: block;
    }
    .sun .info .light-txt{
        opacity: 0.75;
    }

</style>
