<template>
    <div class="universe">
        <galaxy/>
    </div>
</template>

<script>
    import Galaxy from "./Galaxy";
    export default {
        name: "Universe",
        components: {Galaxy}
    }
</script>

<style scoped>
    .universe{
        background-color: #121212;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
