<template>
  <v-app id="inspire">
    <Header/>
    <v-main>
      <router-view></router-view>
      <notifications group="notifications" style="width: 400px; top: 0px; left: calc(50% - 200px);"/>
    </v-main>
    <Footer/>
  </v-app>
</template>

<script>
import Header from './components/Header';
import Footer from "./components/Footer";

export default {
  name: 'App',
  components: {
    Footer,
    Header,
  },
  mounted () {
    this.$store.dispatch('fetchBodies/fetchBodiesAction')
  }
}
</script>
<style>

  #inspire {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  .content, .bodyContent{
    margin-top: 60px;
  }
</style>
